@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

$fuente: "Open+Sans";
$color_rojo: #f00;
$url_imagen:"https://images.unsplash.com/photo-1464655646192-3cb2ace7a67e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=7bd13db3b64ce66833f51169e9e6e5e5";

$url_arriba: "https://images.unsplash.com/photo-1461295025362-7547f63dbaea?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=9c3c96e59ca6b6e66358b9bc2b8ad815";


$url_abajo: "https://images.unsplash.com/photo-1460400408855-36abd76648b9?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1c9fc275d85ee05c6e64f09eff62b363";

$url_avatar: "https://images.unsplash.com/photo-1456983933114-c22026990f4b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=7b6451bb4ca6512588c8d27d6630f19b";