#desplazamiento{
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 20px;
    transition-property: left;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-timing-function: linear;
    transition-timing-function: ease-in;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
}

#desplazamiento:hover{
    left: 160px;
}